@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rock+Salt&display=swap');

:root {
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.backer {
  background-image: url(../assets/tic-tac-toe-bg.jpg);
  background-image: cover;
  background-position: center;
  background-repeat: repeat;
  height: fit-content;
}

.overlay {
  background-color: rgba(253, 253, 253, 0.717);
  top: 0;
  width: 100%;
  height: 95vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: green;
}

.italic {
  font-style: italic;
  color: red;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  border: solid 0px #000;
}

.container p {
  color: red;
  font-size: 25px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 40px;
  background-color: #e8e5e5;
  border: solid 3px #000;
  font-family: 'Rock Salt', cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
}

.square_o {
  background-color: rgb(87, 218, 21);
}

.square_x {
  background-color: crimson;
}

.reset {
  background-color: #f5f5f5;
  border: solid 3px #000;
  font-size: 20px;

  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  color: #000;
  margin-bottom: 50px;

  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.reset:hover {
  background-color: #e8e5e5;
  cursor: pointer;
}
